# Backend
DB_URL=jdbc:postgresql://localhost:5432/campvivo
DB_USERNAME=campvivo
DB_PASSWORD=changeme
JWT_SECRET=change_this_in_real_env
MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
CLOUDINARY_URL=
SMTP_HOST=
SMTP_USERNAME=
SMTP_PASSWORD=

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8080/api
